*.rpm
*.zip
*.tar.gz
*.zst
backup
config.txt
cofnig.link
.env
yml/.env
.bak
config.link
release/*
.history/

public/docker/*
!public/docker/docker.service
images/*

.idea
*.tar
.DS_store
dbagent-release/compose
